Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers ALL:!ADH!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDdjCCAl4CCQDTQiCVw9j4djANBgkqhkiG9w0BAQsFADB9MQswCQYDVQQGEwJK
      UDESMBAGA1UECAwJSGlyb3NoaW1hMRYwFAYDVQQHDA1IaXJvc2hpbWEtU2hpMRQw
      EgYDVQQKDAtTYW1wbGUgQ29ycDEPMA0GA1UECwwGc2FtcGxlMRswGQYDVQQDDBJ3
      d3cuc3NsLXNhbXBsZS5jb20wHhcNMTUwNjEyMDY0MjIxWhcNMTYwNjExMDY0MjIx
      WjB9MQswCQYDVQQGEwJKUDESMBAGA1UECAwJSGlyb3NoaW1hMRYwFAYDVQQHDA1I
      aXJvc2hpbWEtU2hpMRQwEgYDVQQKDAtTYW1wbGUgQ29ycDEPMA0GA1UECwwGc2Ft
      cGxlMRswGQYDVQQDDBJ3d3cuc3NsLXNhbXBsZS5jb20wggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQC6V234XAM3r6Yy0XuYZJV6RpNX9xBhR7QDZxZA7CqI
      4e5/9suTzkSwcxPZqqbECMspTpfZPNnyDMrT1Vl3tVmmEqRlipy+U9Kd50vTHrU/
      /Ar0lfJr6QDUVX6NYLjeV9E/Cz0WkekmXJn2WqsCEJ6PPJkBnb/1ozjiiKu47/NJ
      NWzgxtAY4H84pHxU4Lh12cDQOSPd4Qp6/gBlEd2AB3Kxz2dR4YEGgH8d2mYmtw+E
      O3WF3AZeJFZHrrWIZ+kP0QsSLS6UWDUIm/0UCEYumCyfesC/zIsiFylDH2qfzWal
      kmzeIVn/o3OvD4rWmwGJakmHBuxFsk86TMYnul/O4WHfAgMBAAEwDQYJKoZIhvcN
      AQELBQADggEBAEgSnikYG6Cy9GvqbjriQHeCZ8HkuWkMNuWq5K3S1aTFDDfKKMSr
      fi1zNNdLeb0pbg13wEgpvnp0U/HF/gbfk7SrnLUJoSGe4V+wVM0QRlpTq0g9okHY
      OxOxXseZhMehtXIbflNx+A/lOMLl1ncZ30gftIAPLfC3sgX59+lPzv0y7dt8/8Gt
      ieG6pVJY+HKgoZ4hYDgtSSCnL3jQQpvO+o0TRt4TGpReoHIJSXlY+WFhypd1b7GT
      jVpZHm96EvQTN493Kdn1PC6qWRmkydwCvRRGGP+h5N0/uxldTwLCH/ChsqdXBNRy
      rGUHMnKu8hkJ2f7lxz4P+wCbnozkVfR01GE=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAuldt+FwDN6+mMtF7mGSVekaTV/cQYUe0A2cWQOwqiOHuf/bL
      k85EsHMT2aqmxAjLKU6X2TzZ8gzK09VZd7VZphKkZYqcvlPSnedL0x61P/wK9JXy
      a+kA1FV+jWC43lfRPws9FpHpJlyZ9lqrAhCejzyZAZ2/9aM44oiruO/zSTVs4MbQ
      GOB/OKR8VOC4ddnA0Dkj3eEKev4AZRHdgAdysc9nUeGBBoB/HdpmJrcPhDt1hdwG
      XiRWR661iGfpD9ELEi0ulFg1CJv9FAhGLpgsn3rAv8yLIhcpQx9qn81mpZJs3iFZ
      /6Nzrw+K1psBiWpJhwbsRbJPOkzGJ7pfzuFh3wIDAQABAoIBAAXrdSDou2lveRYw
      NX734w/JYjDvNmQAxSU+hyR03D0RAGSsUHdXnDMG1OCbXUTpCps7VfOezUW1RlRI
      eNkmt7xg5zwalTQusYg2quAAH73yod53TQZElrQoKycOpZDatVkNYFlxNTj0xCdh
      ZgFgyci/IhU9D7YcA1ifAuWTKeVvcSlUykmqz2NAwp3HpcMH3LSHSnRdfwfcG/qQ
      6du6CY6JKXBve4dZInKKlPwyZmLugHG2XFrL9gF0TJQsN10OpvE8hNvPbWvaBcnZ
      ifXY050mk+5RxfBa+aNOn0uBhIvalZnPo2BYHzgWxq7Jtst7qJB75Qkh7lHKIbqo
      w2MZYeECgYEA55w/pEO6wz0PMRjvq+zcEBx7jxAUeCx0JQUZw68gDJ95g8eK3TZw
      RiocvVoAQXNAFl7TLi19LwTGj9KaKhnqwsIG8TFKrJuYDxmEDDTiwNckxOVHT552
      8c9XZNhflYn4oNKxRXCwOMLrv6m/IM5b/fKJz4xyCLkCqFVsqln+FUcCgYEAzfbS
      9eujBcANkEVBB0mXLNelHVSRYTPW2VMSXKB4k/zaMgmcPSm93YK8+tceQ7JwwEN2
      RP03p3TKYyGp5iaW2ejuKLB7Tnpc/vZrKo7iPolbgcSrkFcAnfcRuUhviCXKT1Dh
      TV4TAdf5pZp9QD7P044J1gTf8XO1ZUlEW7ay+qkCgYEA293iNIfvVcQzFcK8UxOJ
      XOoNCaSUKfjZUQNkj/VBkXoamtTkqFczgggcPEyiDX/hCNt/0khwnCAGdyXQH8N2
      rugOOw01/GHAmiT4y7WwxKv4Rcn6RkUCWU8hgaQ+KPFPSyx4CJmPUHMJ5Wq4++Wq
      Qorp9FM5NbqcITzm6ViA8aUCgYEAlMHeoGuudOq/YSID06WdIHAn+0UnM1Njq9dJ
      /ciRDiGj3lv+klZhoWlZ4LoaS77HnLWc6DsTRUkfG/YmZeodLgoEaTL9/DJ4lFWa
      FUTZt10x0Eoht8B+25ilHnNoyqawthSuhVia1cwNrUQljo9PP3bpN8CRliyCKUN/
      sdYE8vECgYEAoNy1/wSSBie8cgBdeZLCtO+mJycuXVi5RkxLkR3VhVu1KznCykjj
      zJGybSgEQ9Vg8PulzaoDulzXiD8HmKmexEzg/awY2AdDASL33quZESpMvJgE86He
      Ia71Hcb1ieIVpQtbABYCNkFRJ/OK7F1qv2I5o/hE2sodwYwllfPyzQs=
      -----END RSA PRIVATE KEY-----
